@mixin myContainer {
  max-width: $containerMaxWidth;
  width: 100%;
  margin: 0 auto;
  display: flex;
}

@mixin myBox {
  max-width: $boxMaxWidth;
  height: 180px;
  width: 426px;
}

@mixin mybox2 {
  max-width: $boxMaxWidth2;
  width: 1905px;
  height: 225px;
  background-color: $third-color;
}
